.l-mobile-header {
    display: none;
}

.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 999;
    background-color: white;
    top: 0;
    width: 100%;
    padding: .625rem 1rem;

    .c-logo {
        display: flex;
        align-items: center;

        &__img {
            width: 6.25rem;
            cursor: pointer;
            margin-right: 3.5rem;
        }
    }

    .c-links {
        &__list {
            margin: 0;
            display: flex;
        }

        &__link {
            text-decoration: none;
            cursor: pointer;
            font-size: 1rem;

            &:not(:last-child) {
                margin-right: .625rem;
            }

            &>a {
                padding: .75rem .3125rem;
            }

            &>a,
            &:hover,
            &:visited {
                color: black;
            }
        }
    }

    .c-icons {
        &__list {
            margin: 0;
            display: flex;
        }

        &__link {
            text-decoration: none;
            cursor: pointer;
            font-size: 1.25rem;
            color: black;
            position: relative;

            &>a {
                padding: .75rem .3125rem;
            }

            .e-showtotal {
                position: absolute;
                width: 1.2rem;
                height: 1.2rem;
                background: black;
                color: white;
                border-radius: 50%;
                font-size: .875rem;
                top: -30%;
                right: 0;
                font-weight: 500;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:not(:last-child) {
                margin-right: .75rem;
            }

            &>a,
            &:hover,
            &:visited {
                color: black;
            }
        }
    }
}

.fa-bars,
.fa-times {
    display: none;
}

// ****--Responsive Area--****
@media screen and (max-width: $lg) {
    .l-header {
        display: none;
    }

    .l-mobile-header {
        display: block;
        position: sticky;
        top: 0;
        z-index: 999;
        background-color: white;

        .c-logo {
            text-align: center;
            position: relative;
            display: flex;
            justify-content: center;

            &__img {
                width: 6.25rem;
                cursor: pointer;
                margin-right: 0;
            }
        }

        .c-links {
            position: fixed;
            width: 100%;
            height: 65%;
            top: calc(-100% + 5rem);
            left: 0;
            transition: all .6s ease-in-out;

            // 作為mobile menu背景
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                transform: translateX(-50%);
                background: white;
                z-index: -1;
                position: absolute;
            }

            &__list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: fixed;
                width: 100%;
                height: 65%;
                transition: all .6s ease-in-out;
                transform: translate3d(0, -10%, 0);
                opacity: 0;
            }

            &__link {
                padding: .875rem;
                text-decoration: none;

                &>a,
                &:hover,
                &:visited {
                    color: black;
                }


                &:not(:last-child) {
                    margin-bottom: 1rem;
                    margin-right: 0;
                }
            }
        }

        .showMobileMenu {
            top: 0;
        }

        .showMobileMenu-list {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }

        .c-icons {
            display: none;
        }
    }

    .fa-bars,
    .fa-times {
        display: block;
        position: absolute;
        top: 50%;
        left: 90%;
        transform: translate(-50%, -50%);
        font-size: 1.5rem;
    }
}

@media screen and (max-width: $md) {
    .l-mobile-header {
        .c-links__link {
            font-size: 1rem;
        }

        .c-links__link:not(:last-child) {
            margin-bottom: .625rem;
        }
    }
}